<div *ngIf="!isLoading" class="w-full rounded-3xl bg-black pb-16 pt-16 px-16">
  <div
    class="mb-12 text-white text-center flex flex-col gap-8 items-center justify-center"
  >
    <div class="text-[50px] font-medium">Twoje dyplomy</div>
  </div>

  <div class="h-full grid grid-cols-3 items-center gap-8">
    <div
      [ngClass]="{
      'diploma': user?.level! >= 2,
    }"
      class="h-[300px] rounded-3xl bg-white text-black uppercase text-[35px] flex flex-col gap-5 items-center justify-center font-bold diploma cursor-pointer"
    >
      <div *ngIf="user?.level! < 2" class="w-[80px] h-[80px] lock"></div>
      <p>LEVEL 1</p>
    </div>
    <div
      [ngClass]="{
      'diploma': user?.level! >= 3,
    }"
      class="h-[300px] rounded-3xl bg-white text-black uppercase text-[35px] flex flex-col items-center justify-center gap-5 font-bold"
    >
      <div *ngIf="user?.level! < 2" class="w-[80px] h-[80px] lock"></div>

      <p>LEVEL 2</p>
    </div>
    <div
      [ngClass]="{
      'diploma': user?.level! >= 3,
    }"
      class="h-[300px] rounded-3xl bg-white text-black uppercase text-[35px] flex flex-col items-center justify-center gap-5 font-bold"
    >
      <div *ngIf="user?.level! < 3" class="w-[80px] h-[80px] lock"></div>

      <p>LEVEL 3</p>
    </div>
  </div>
</div>
